{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Fly - 注册{% endblock %}

{% block contenthead %}
{{ super() }}
<section class="content-header" >
<!--   <h1>
    Dashboard
    <small>Control panel</small>
  </h1> -->
  <ol class="breadcrumb">
    <li><a href="{{ url_for('main.index') }}"><i class="fa fa-fw fa-home"></i>首页</a></li>    
    <li class="active"><a href="#">注册</a></li>
  </ol>
</section>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>注册</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
