{% extends "base.html" %}

{% block title %}Fly - 微博登录{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>微博账号登录</h1>
</div>
<div class="col-md-4">	
<div id="wb_connect_btn" ></div>
WB2.anyWhere(function (W) {
    W.widget.connectButton({
        id: "wb_connect_btn",
        type: '3,2',
        callback: {
            login: function (o) { {{ url_for('auth.afterlogin') }}
                alert("login: " + o.screen_name)
            },
            logout: function () { {{ url_for('auth.logout') }}
                alert('logout');
            }
        }
    });
});
</div>
{% endblock %}
