{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Fly-admin后台{% endblock %}

{% block navbar %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" style="position: relative">
  <header class="main-header" style="position: fixed;top: 0px;width:100%;max-height:100px;z-index:1030"> <!-- 固定置顶 -->
    <a href="{{ url_for('main.index') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>F</b>ly</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>梦开始的地方</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    </a>
          <div class="navbar-header">            
            <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.index') }}">回到主页</a></li>
            </ul> 
          </div>
    </nav>                       
</header>
</div>
</body>x`

{% endblock %}
{% block page_content %}

{{super()}}

<h1><strong> {{ current_user.username }},欢迎来到Vlblog后台 </strong><small>{{ moment(g.current_time).format('LLL') }}</small></h1>

<!--     <p>That was {{ moment(g.current_time).fromNow(refresh=True) }}</p>
<script >
document.write("现在是"+(new Date()).toLocaleDateString() + " " + (new Date()).toLocaleTimeString());     
// 时间
</script>  -->

<a href="{{ url_for('admin.edit') }}" class="btn btn-default" >后台管理员</a>
<a href="{{ url_for('admin.edituser') }}" class="btn btn-primary">所有用户</a>
<a href="#" class="btn btn-default">文章管理</a>
<a href="#" class="btn btn-default">分类管理</a>
<a href="#" class="btn btn-default">评论管理</a>
<a href="#" class="btn btn-default">私信管理</a>
<a href="#" class="btn btn-default">推送管理</a>
</br>


<h3><strong>用户列表</strong>
<a href="{{ url_for('admin.adduser') }}">&nbsp;<small>添加普通用户</small><i class="fa fa-plus"></i></a>

</h3>
<div class="row">
 <div class="col-xs-12">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th>用户</th>          
          <th>注册时间</th>
          <th>操作</th>          
        </tr>
        {% for user in users %}
        <tr>
          {% if user.username  %}
	          <td><a href="{{ url_for('main.user',username=user.username) }}">{{ user.username }}</a></td>          
	          <td>{{ moment(user.member_since).format('L') }}</td>          
	          {% if not user.is_administrator() %}
		          <td><a href="{{ url_for('admin.deleteuser',id=user.id) }}" class="label label-danger">
		              删除用户
		              </a>
		          </td>
            {% elif user.is_administrator() and user != current_user %}
              <td><a href="#" class="label label-default">
                  删除Admin
                  </a>
              </td>
            {% else %}
              <td><a href="#" class="label label-default">
                  花式作死
                  </a>
              </td>
	          {% endif %}
	      {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div><!-- /.box-body -->
<!--   </div> --><!-- /.box -->
</div>
</div>
{% if pagination %}

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.edituser') }}
</div>
{% endif %}

{% endblock %}

