{% if current_user.is_authenticated %} 
<ul class="messages">
        {% for message in messages %}  
            {% if message.sendto == current_user %}
            <li class="message">
                <div class="message-thumbnail">
                    <a href="{{ url_for('.user', username=message.sendto.username) }}">
                        <img class="img-rounded profile-thumbnail" src="{{ message.sendto.gravatar(size=40) }}">
                    </a>
                </div>
                <div class="message-content">
                    <div class="message-date">{{ moment(message.timestamp).fromNow() }}</div>
                    <div class="message-sendto"><a href="{{ url_for('.user', username=message.sendto.username) }}">{{ message.sendto.username }}</a></div>
                        <div class="message-body">
                        {{ message.body }}                         
                        </div>                     
                    {% if message %}
                    <br>                   
                        {% if not message.confirmed %}
                        <a class="btn btn-danger btn-xs" href="{{ url_for('.showmessage_unconfirmed', id=message.id, page=page) }}">标记为已读</a> 
                        {% else %}
                        <a class="btn btn-default btn-xs" href="{{ url_for('.showmessage_confirmed', id=message.id, page=page) }}">标记为未读</a> 
                        {% endif %}  
                    {% endif %}                 
                </div>
            </li>  
            {% endif %}    
        {% endfor %}
</ul>
{% endif %}