{% if current_user.is_authenticated %} 
<ul class="comments">
        {% for comment in comments %}  
            {% if comment.post.author == current_user %}
            <li class="comment">
                <div class="comment-thumbnail">
                    <a href="{{ url_for('.user', username=comment.author.username) }}">
                        <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
                    </a>
                </div>
                <div class="comment-content">
                    <div class="comment-date">{{ comment.timestamp }}</div>
                    <div class="comment-author"><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div> 
                        <div class="post link">
                            评论了博客:
                            <a href="{{url_for('.post',id=comment.post_id)}}">{{comment.post.head}}</a>                       
                        </div>
                        <div class="comment-body">
                            {% if comment.disabled %}
                            <p><i>This comment has been disabled by a moderator.</i></p>
                            {% endif %}
                            {% if moderate or not comment.disabled %}
                                {% if comment.body_html %}
                                    {{ comment.body_html | safe }}
                                {% else %}
                                    {{ comment.body }}
                                {% endif %}
                            {% endif %}
                        </div>                     
                    {% if message %}
                    <br>                   
                        {% if not comment.confirmed %}
                        <a class="btn btn-danger btn-xs" href="{{ url_for('.shownotice_unconfirmed', id=comment.id, page=page) }}">标记为已读</a> 
                        {% else %}
                        <a class="btn btn-default btn-xs" href="{{ url_for('.shownotice_confirmed', id=comment.id, page=page) }}">标记为未读</a> 
                        {% endif %}  
                    {% endif %}                 
                </div>
            </li>  
            {% endif %}    
        {% endfor %}
</ul>
{% endif %}