{% if current_user.is_authenticated %} 
<ul class="comment">
        {% for webpush in webpushs %}  
            {% if webpush.sendto == current_user %}
            <li class="comment">
                <div class="comment-thumbnail">
                    <!-- <a href="{{ url_for('.user', username=webpush.sendto.username) }}">
                        <img class="img-rounded profile-thumbnail" src="{{ webpush.author.gravatar(size=40) }}">
                    </a> -->
                </div>
                <div class="comment-content">
                    <div class="comment-date">{{ webpush.timestamp}}</div>
                    <div class="comment-sendto">来自<a href="#">{{ webpush.author }}</a>的消息:</div>
                        <div class="comment-body">
                        {{ webpush.body }}                         
                        </div>                     
                    {% if webpush %}
                    <br>                   
                        {% if not webpush.confirmed %}
                        <a class="btn btn-danger btn-xs" href="{{ url_for('.webpush_unconfirmed', id=webpush.id, page=page) }}">标记为已读</a> 
                        {% else %}
                        <a class="btn btn-default btn-xs" href="{{ url_for('.webpush_confirmed', id=webpush.id, page=page) }}">标记为未读</a> 
                        {% endif %}                       
                    {% endif %}                 
                </div>
            </li>  
            {% endif %}    
        {% endfor %}
</ul>
{% endif %}