{% extends "bootstrap/base.html" %}



{% block head %} <!-- headstart -->
<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">  -->
{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>{% block title %}{% endblock %}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock%}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">
    
{% block styles %}

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- 提供通知小图标 -->
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{url_for('static',filename='ionicons.min.css')}}"> 
    <!-- Theme style -->
    <link rel="stylesheet" href="{{url_for('static',filename='AdminLTE.min.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static',filename='skin-blue.min.css')}}">

{% endblock %}
{% endblock %} <!-- headend -->

{% block body %}



{% block navbar %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
      <a href="#" class="logo">
        <span class="logo-mini"><b>A</b>LT</span>
         <span class="logo-lg"><b>Admin</b>LTE</span>
      </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            </a>
                  <div class="navbar-header">            
                    <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.firstpage') }}">关于</a></li>
                    </ul>          
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('main.index') }}">博客主页</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
                        {% endif %}
                    </ul>
                        <ul class="nav navbar-nav">
                        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <li><a href="{{ url_for('main.moderate') }}">管理评论</a></li>
                        {% endif %}

                        {% if not current_user.is_authenticated %} 
                        <li><a href="{{ url_for('auth.register') }}">注册</a> </li>
                        <li><a href="{{ url_for('auth.login') }}">登录</a> </li>
                        {% endif %}

                    </ul>

                  </div>

                  {% if current_user.is_authenticated %}
                  <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      <!-- Messages: style can be found in dropdown.less-->
                      <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-envelope-o"></i>
                          <span class="label label-success">{{ current_user.unreadmessages()}} </span>
                        </a>                
                        <ul class="dropdown-menu">
                          <li class="header">你有 {{ current_user.unreadmessages()}} 条未读私信</li>
                          <li>
                            <!-- inner menu: contains the messages -->
                            {% if current_user.unreadmessages() > 0 %}
                            <ul class="menu">
                              <li><!-- start message -->
                                <a href="{{ url_for('main.showmessage') }}">
                                  <div class="pull-left">                                     
                                    <!-- User Image -->  
                                    {% if current_user.is_authenticated %}                          
                                    <!-- <img src="{{url_for('static',filename='img/my.jpg')}}" class="img-circle" alt="User Image"> -->
                                    <img class="user-image" alt="User Image" src="{{ current_user.lastmessageform().gravatar(size=256) }}">
                                    {% endif %}
                                  </div>
                                  <!-- Message title and timestamp -->                               
                                  <h4>                                    
                                    <small><i class="fa fa-clock-o"></i> 最近的消息</small>
                                  <br>
                                  </h4>
                                  <!-- The message -->
                                  <p>{{ current_user.lastmessageform().username }}对你说:{{ current_user.lastmessage().body }}</p>
                                </a>
                              </li><!-- end message -->
                            </ul><!-- /.menu -->
                            </li>
                            {% else %}
                            <ul class="menu">
                              <li><!-- start message -->
                                <a href="{{ url_for('main.showmessage') }}">
                                <h4>   
                                    最近没有消息                                
                                    <small><i class="fa fa-clock-o"></i> 最近的消息</small>
                                </h4>
                                </a>
                              </li>
                            </ul>   
                            {% endif %}

                          <li class="footer"><a href="{{ url_for('main.showmessage') }}">查看全部私信</a></li>
                        </ul>
                      </li><!-- /.messages-menu -->

                      <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-bell-o"></i>
                          <span class="label label-warning">{{ current_user.unreadcommenteds()}} </span>
                        </a>                
                        <ul class="dropdown-menu">
                          <li class="header">你有 {{ current_user.unreadcommenteds() }} 条未读评论</li>
                          <li>
                            <!-- inner menu: contains the messages -->
                            {% if current_user.commented.count() > 0  %}
                            <ul class="menu">
                              <li><!-- start message -->
                                <a href="{{ url_for('main.shownotice') }}">
                                  <div class="pull-left">
                                    <!-- User Image -->  
                                    {% if current_user.is_authenticated %}                          
                                    <!-- <img src="{{url_for('static',filename='img/my.jpg')}}" class="img-circle" alt="User Image"> -->
                                    <img class="user-image" alt="User Image" src="{{ current_user.lastcommentform().gravatar(size=256) }}">
                                    {% endif %}
                                  </div>
                                  <!-- Message title and timestamp -->
                                  <h4>                                    
                                    <small><i class="fa fa-clock-o"></i> 最近的评论</small>
                                  </h4>
                                  <br>
                                  <!-- The message -->
                                  <p>{{ current_user.lastcommentform().username }}发表了评论:{{ current_user.lastcomment().body }}</p>
                                </a>
                              </li><!-- end message -->
                            </ul><!-- /.menu -->
                            {% else %}
                            <ul class="menu">
                              <li><!-- start message -->
                                <a href="{{ url_for('main.shownotice') }}">
                                <h4>   
                                最近没有新的评论                         
                                    <small><i class="fa fa-clock-o"></i> 最近的消息</small>
                                </h4>
                                </a>
                              </li>
                            </ul> 
                            {% endif %}
                          </li>
                          <li class="footer"><a href="{{ url_for('main.shownotice') }}">查看全部评论</a></li>
                        </ul>
                      </li><!-- /.notice -->

                      <!-- Tasks Menu -->
                      
                      <li class="dropdown tasks-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-flag-o"></i>
                          <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="header">You have 9 tasks</li>
                          <li>
                            <!-- Inner menu: contains the tasks -->
                            <ul class="menu">
                              <li><!-- Task item -->
                                <a href="#">
                                  <!-- Task title and progress text -->
                                  <h3>
                                    Design some buttons
                                    <small class="pull-right">20%</small>
                                  </h3>
                                  <!-- The progress bar -->
                                  <div class="progress xs">
                                    <!-- Change the css width attribute to simulate progress -->
                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                      <span class="sr-only">20% Complete</span>
                                    </div>
                                  </div>
                                </a>
                              </li><!-- end task item -->
                            </ul>
                          </li>
                          <li class="footer">
                            <a href="#">View all tasks</a>
                          </li>
                        </ul>
                      </li>
                      {% endif %}
                      <!-- 用户头像 -->
                      {% if current_user.is_authenticated %}
                      <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <!-- The user image in the navbar-->
                          <!-- <img src="{{url_for('static',filename='img/my.jpg')}}" class="user-image" alt="User Image"> -->
                          <img class="user-image" alt="User Image" src="{{ current_user.gravatar(size=256) }}">
                          <!-- hidden-xs hides the username on small devices so only the image appears. -->
                          <span class="hidden-xs">愚蠢的人类</span>
                        </a>
                        <ul class="dropdown-menu">
                          <!-- The user image in the menu -->
                          <li class="user-header">
                            <img class="img-circle"  alt="User Image" src="{{ current_user.gravatar(size=256) }}">
                              <p>
                              愚蠢的人类，信仰圣光吧！！ 
                              <small>
                              <script >
                              // var mydate=new Date();
                              document.write((new Date()).toLocaleDateString() + " " + (new Date()).toLocaleTimeString());
                              </script>                            
                              </small>                                    
                              </p>  
                          </li>   

                          <li class="user-footer">

                            <div class="pull-left">
                              <a href="{{ url_for('auth.change_userset') }}" class="btn btn-default btn-flat">账户设置</a>
                            </div>
                            <div class="pull-right">
                              <a href="{{ url_for('auth.logout') }}" class="btn btn-default btn-flat">退出</a>
                            </div>
                          </li>
                        </ul>
                      </li>  

                      <li>
                  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                  </li> 
         
                    </ul>

                  </div>
                  {% else %}
                  <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                    <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                  </div> 

                  {% endif %} 
                  
        </nav>                       
</header>
{% endblock %} 
<!-- 顶部导航栏结束 -->
<aside class="main-sidebar">　
<!-- 左侧拉伸栏 -->
        <section class="sidebar">
<!--           <div class="user-panel">
            <div class="pull-left image">
              <img src="/static/img/my.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Alexander Pierce</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div> -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>


          <ul class="sidebar-menu">
            <li class="header">HEADER</li> 

             
            <li class="treeview">                      
                <a href="#"><i class="fa fa-link"></i> <span>全部分类</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu" style="display: block;">
                  <li><a href="#">python</a></li>                  
                  <li><a href="#">web后端</a></li>
                  <li><a href="#">git/centos/ubuntu</a></li>
                  <li><a href="#">c/c++</a></li>
                  <li><a href="#">数据库</a></li>
                  <li><a href="#">前端</a></li>
                  <li><a href="#">杂记</a></li>
                </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>待定</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu" style="display: block;">
                <li><a href="#">文章１</a></li>
                <li><a href="#">文章２</a></li>
              </ul>
            </li>  



          </ul>        
        </section>
</aside>


{% block content %}
<div class="content-wrapper"> <!-- 定义博客列表 -->
  <section class="content">
  {% for message in get_flashed_messages() %}    
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
   
  {% endfor %}　　<!-- flash消息弹出 -->

  {% block page_content %} <!-- post页面等等 -->

  {% endblock %} <!-- end page_content -->
  </section>



<aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
</aside> 

<div class="control-sidebar-bg"></div>



</div>

<footer class="main-footer">
<div class="pull-right hidden-xs">
Email:<a href="mailto:ifwenvlook@163.com">ifwenvlook@163.com</a>
</div>
<strong>From@<a href="#"><a href="https://github.com/ifwenvlook/blog">Github</a></a>.</strong> Power by Flask.
</footer>

</div>
{% endblock %}


{% block scripts %}

{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }} 
<script src="{{url_for('static',filename='jquery.js')}}"></script> 
<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>  
<script src="{{url_for('static',filename='app.min.js')}}"></script>    
{% endblock %} 


{% endblock %}
</body>