{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Fly{% endblock %}

{% block topimg %}
<!-- <img  src="{{url_for('static',filename='img/top.jpg')}}"> -->
<section class="content" style= "margin-left:230px; padding:50px; background:url('../static/img/top_wind.jpg');">
  <h3 class="widget-user-username"><a href="http://www.baidu.com">Elizabeth Pierce</a></h3>
  <h5 class="widget-user-desc">Web Designer</h5>
</section>         
{% endblock %}


{% block content %}
<div class="content-wrapper" > <!-- 定义博客列表 -->
  <section class="content" style="min-height: 900px; padding:0;">
      {% for message in get_flashed_messages() %}    
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
       
      {% endfor %}　　<!-- flash消息弹出 -->
    {% block page_content %}

    <div class="post-tabs" style= "padding:0;margin-right:50px;margin-left:50px;">
        <ul class="nav nav-tabs">
            <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部</a></li>
            {% if current_user.is_authenticated %}
            <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">我的关注</a></li>
            {% endif %}
            <li style="float: right" ><button class="btn btn-block btn-info btn-lg"><a style="color:white" href="{{ url_for('.writepost') }}"><i class="fa fa-edit"></i>新文章</a></button></li>
        </ul>
        {% include '_index_posts.html' %}
    </div>
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>

    <!-- </div> -->
    {% endif %}
    {% endblock %}

  </section>

  <footer class="main-footer" style= "margin-left:0px;">
    <div class="pull-right hidden-xs">
      <b>Email:<a href="mailto:ifwenvlook@163.com">ifwenvlook@163.com</a>  Power by Flask
      <a href="http://tongji.baidu.com/web/welcome/ico?s=4ef56ac18f75724ce187ba84286f0c6d"><i class="fa fa-fw fa-bar-chart"></i>百度统计</a>
      </b>
    </div>
    <strong>Code@<a href="https://github.com/ifwenvlook/blog.git">Github</a></strong>
    <a href="https://github.com/ifwenvlook" style="color:black" ><i class="fa fa-fw fa-github-square"></i></a>
    <a href="http://weibo.com/wenvlook"style="color:black" ><i class="fa fa-fw fa-weibo"></i></a>
    <a href="https://www.facebook.com"style="color:black" ><i class="fa fa-fw fa-facebook-official"></i></a>
    <a href="https://www.google.com"style="color:black" ><i class="fa fa-fw fa-google-plus"></i></a>
  </footer>
</div>

{% endblock %}



