{% extends "bootstrap/new_index.html" %}
{%- block styles %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">    
    <script src="static/js/ie-emulation-modes-warning.js"></script>
{%- endblock styles %}


{% block scripts %}
{{ super() }}
<script src="static/js/jquery-1.12.2.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/ie10-viewport-bug-workaround.js"></script>


{%- endblock scripts %}
