{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Fly - {{ user.username }} {{ title }} {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1> {{ user.username }} {{ title }}</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>文章</th><th>收藏时间</th></tr></thead>
    {% for post in posts %}
        <tr>
        <td>
            <a href="{{ url_for('.post', id=post.id) }}">{{ post.head }} </a> Write_by {{post.author.username}}
            <a style="text-decoration:none; color:black" href="{{ url_for('.post', id=post.id) }}">
                {% if post.body_html %}
                    {{ post.head_html | safe }}<br/>
                    {% if post.body[200] %}
                    {{ post.body_html[0:200] | safe }}....
                    {% else %}
                    {{ post.body_html | safe }}
                    {% endif %}
                {% else %}
                    {{ post.head }}<br/>
                    {% if post.body[200] %}
                    {{ post.body }}
                    {% else %}
                    {{ post.body[0:200] }}.....
                    {% endif %}                
                {% endif %}
                </a>
                
            
        </td>
        <td>{{ user.startimestamp(post) }}
        <a href="{{ url_for('.deletestar', id=post.id,) }}" class="label label-danger">
        <span class="label label-danger">删除</span>
        </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
