
<!DOCTYPE html>
<html lang="zh-CN" class="">
<head>
<meta charset="utf-8">
<meta name="apple-itunes-app" content="app-id=432274380">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="description" content="写下你学习、生活的点点滴滴"/>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<title>与世界分享你的知识、经验和见解</title>



<link rel="shortcut icon" href="https://static.zhihu.com/static/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://static.zhihu.com/static/revved/-/css/pages/unlogin-index/main.bef9ecee.css">
<meta name="google-site-verification" content="FTeR0c8arOPKh8c5DYh_9uu98_zJbaWw53J-Sch9MTg" />
<meta name="baidu-site-verification" content="KPFppAFoYF4Kkdv9" />
<link rel="canonical" href="http://www.zhihu.com" />
<meta id="znonce" name="znonce" content="523c49dc89664e58bc564c2206ce1801">
<!--[if lt IE 9]>
<script src="https://static.zhihu.com/static/components/respond/dest/respond.min.js"></script>
<link href="https://static.zhihu.com/static/components/respond/cross-domain/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="/static/components/respond/cross-domain/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
<script src="/static/components/respond/cross-domain/respond.proxy.js"></script>
<![endif]-->
<script src="https://static.zhihu.com/static/revved/-/js/instant.4b42dd60.js"></script>
</head>
<body class="zhi ">



<div class="index-main">
<div class="index-main-body">
<div class="index-header">
<h1 class="logo hide-text">学习博客</h1>
<h2 class="subtitle">与世界分享你的知识、经验和见解</h2>
</div>

<div class="desk-front sign-flow clearfix sign-flow-simple">

<div class="index-tab-navs">
<div class="navs-slider">
<a href="#signup" class="active">注册</a>
<a href="#signin">登录</a>
<span class="navs-slider-bar"></span>
</div>
</div>


<div class="view view-signin">
<form>
<input type="hidden" name="_xsrf" value="d0c7a556b8248ad72ba15f78d4c3b981"/>
<div class="group-inputs">

<div class="email input-wrapper">
<input type="text" name="account" aria-label="邮箱" placeholder="邮箱" required>
</div>
<div class="input-wrapper">
<input type="password" name="password" aria-label="密码" placeholder="密码" required>
</div>
</div>
<div class="failure" id="summary"><ul></ul></div>
<div class="button-wrapper command">
<button class="sign-button submit" type="submit">登录</button>
</div>
<div class="signin-misc-wrapper clearfix">
<label class="remember-me">
<input type="checkbox" name="remember_me" checked value="true"> 记住我
</label>
<a class="unable-login" href="#">无法登录?</a>
</div>
<div class="weibo-signup-wrapper">
<span class="name js-toggle-sns-buttons">社交帐号登录</span>

<div class="sns-buttons">
<a title="微信登录" class="js-bindwechat" href="#"><i class="sprite-index-icon-wechat"></i></a>
<a title="微博登录" class="js-bindweibo" href="#"><i class="sprite-index-icon-weibo"></i></a>
<a title="QQ 登录" class="js-bindqq" href="#"><i class="sprite-index-icon-qq"></i></a>
</div>


</div>
</form>
</div>
<div class="view view-signup selected">
<form class="zu-side-login-box" action="/register/email" id="sign-form-1" autocomplete="off">
<input type="password" hidden> 
<input type="hidden" name="_xsrf" value="d0c7a556b8248ad72ba15f78d4c3b981"/>
<div class="group-inputs">

<div class="name input-wrapper">
<input required type="text" name="fullname" aria-label="姓名" placeholder="姓名">
</div>
<div class="email input-wrapper">

<input required type="text" class="account" name="phone_num" aria-label="邮箱" placeholder="邮箱">

</div>
<div class="input-wrapper">
<input required type="password" name="password" aria-label="密码" placeholder="密码（不少于 6 位）">
</div>
<div class="input-wrapper captcha-module" >
<input id="captcha" name="captcha" placeholder="验证码" required>
<div class="captcha-container">

<img class="js-refresh-captcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张"  alt="验证码">
</div>
</div>
</div>
<div class="failure" id="summary"><ul></ul></div>
<div class="button-wrapper command">
<button class="sign-button submit" type="submit">注册学习博客</button>
</div>
<div class="weibo-signup-wrapper">
<span class="name js-toggle-sns-buttons">社交帐号登录</span>

<div class="sns-buttons">
<a title="微信登录" class="js-bindwechat" href="#"><i class="sprite-index-icon-wechat"></i></a>
<a title="微博登录" class="js-bindweibo" href="#"><i class="sprite-index-icon-weibo"></i></a>
<a title="QQ 登录" class="js-bindqq" href="#"><i class="sprite-index-icon-qq"></i></a>
</div>


</div>
</form>
</div>
</div>
<div class="qrcode-app-download">
<a href="/app" class="app-link">
<i class="sprite-index-icon-qrcode"></i>
<span class="text">微信</span>
<span class="hovercard">
<span class="intro">扫一扫二维码</span>
<span class="image"></span>
<div class="footer">
<span>&copy; 2016 学习博客</span>
</div>


<script type="text/json" class="json-inline" data-name="disabled_components">["back_to_top"]</script>
<script type="text/json" class="json-inline" data-name="current_user">["","","","-1","",0,0]</script>
<script type="text/json" class="json-inline" data-name="env">["zhihu.com","comet.zhihu.com",false,null]</script>

<script type="text/json" class="json-inline" data-name="ga_vars">{"user_created":0,"now":1458652873000,"abtest_mask":"------------------------------","user_attr":[0,0,0,"-","-"],"user_hash":0}</script>
<script src="https://static.zhihu.com/static/revved/-/js/vendor.ff76fbae.js"></script>
<script src="https://static.zhihu.com/static/revved/-/js/closure/common.c7635f37.js"></script>
<script src="https://static.zhihu.com/static/revved/-/js/closure/page-index.b97ba931.js"></script>
<meta name="entry" content="ZH.entrySignPage" data-module-id="page-index">

<input type="hidden" name="_xsrf" value="d0c7a556b8248ad72ba15f78d4c3b981"/>
</body>
</html>